.brand-logo{
    margin-left: 30px;
}

.move-right{
    margin-right: 30px;
}

body{
    background-color: #90a4ae;
}

.change-color-about{
    background-color: #455a64;
}

.text-color{
    color: white;
    text-align: center;
}

.font-size{
    font-size: 1.5rem;
}

.kat{
    border-radius: 50%;
}

.image-resize{
    height: 80px;
}